<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="css/blog-detail.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- icon -->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2418/2418779.png" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"
        style="display:flex; background:rgb(144, 12, 43); background: linear-gradient(90deg, rgba(144, 12, 43, 1) 0%, rgba(199, 0, 57, 1) 65%, rgba(217, 0, 0, 1) 100%);">
        <div class="container-fluid gap-2" style="margin-right:50px; margin-left:50px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style="margin-bottom: 5px;" href="#">
                <img style="width: 50px;" src="https://companieslogo.com/img/orig/FWONK.D-6358a63d.png?t=1634623714"
                    alt="nav-icon">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="myproject">MyProject</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="blog">Blog</a>
                    </li>
                </ul>
                <a href="contact">
                    <button class="btn btn-warning" style="
                        background-color: #930e2d !important;
                        color: white !important;
                        padding: 6px 25px !important;
                        border: none !important;
                        border-radius: 20px !important;
                        margin-top: 5px !important;
                        font-size: 15px !important;
                        cursor: pointer !important;">Contact</button>
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <div class="container">
        <div>
            <h1 style="color:#930e2d; margin-top:20px; margin-bottom:20px">{{blog.title}}</h1>
        </div>
        <div class="author mb-5">
            Diupdate pada {{blog.post}} oleh {{blog.author}}
        </div>
        <div class="d-flex justify-content-center">
            <img style="width: 500px; margin-bottom:20px" src="{{blog.image}}" />
        </div>
        <div>
            <p style="text-align: justify;">{{blog.content}}</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="js/blog.js"></script>
</body>

</html>